.pageDisplay {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  gap: 12px;
  min-height: 220px;
  margin-top: 60px;
}

.colletionDisplay-Left {
  background: #97958f;
  border-radius: 8px;
  grid-column: 2 / 16;

  /* New grid for inside of the box */
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  padding: 1rem 0;
}

.colletionDisplay-Divide {
  background: #ffffff;
  border-radius: 8px;
  grid-column: 17 / 18;
}

.colletionDisplay-Right {
  background: #97958f;
  border-radius: 8px;
  grid-column: 19 / 30;

  /* New grid for inside of the box */
  display: grid;
  grid-template-columns: repeat(14, 1fr);

  padding: 2rem 0;
}

/* Button CSS code */
.itemBackground-LeftSection {
  grid-column: 2 / 14;
  font-size: 14px;
  font-weight: 500;
  background: #adaaa1;
  cursor: pointer;
  align-self: center;

  /* Aligns it to the middle left side of the button */
  display: flex;
  align-items: center;
  gap: 8px;
}



.itemBackground-LeftSection.ToPage {
  grid-column: 8 / 9;
  font-size: 14px;
  font-weight: 500;
  background: #adaaa1;
  cursor: pointer;
  align-self: center;

  /* Aligns it to the middle left side of the button */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemBackground-LeftSection.Button:hover{
  background: #88867a;
}

.sub-btn{
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 500;
  color: #2c2c2a;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sub-btn.new{
  background: #42d62e;
}

.sub-btn.new:hover {
  background: #2ebe1b;
}

.sub-btn.new:active {
  background: #24a413;
}

.sub-btn.edit{
  background: #fef61b;
}

.sub-btn.edit:hover {
  background: #eae434;
}

.sub-btn.edit:active {
  background: rgb(198, 192, 26);
}

.sub-btn.delete{
  background: #e82a2a;
}

.sub-btn.delete:hover {
  background: #c03737;
}

.sub-btn.delete:active {
  background: #ae2c2c;
}

.loanBorrower-status {
  width: 32px;
  height: 22px;
  border-radius: 999px;
  background: #6900e1; /* No data recived color */
}

.sub-btn:hover {
  background: #7a7872;
}

.sub-btn:active {
  background: #5f5e5a;
}


/* Split into two rows in a column */
.infoSection-button {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 2px;
}

.titleTopSection-button {
  font-size: 14px;
  font-weight: 500;
}

.subTitleBottomSection-button {
  font-size: 11px;
  color: #5f5e5a;
}

.infoSection-button-chosenLoan {
  display: flex;
  flex-direction: column; 
  margin-left: auto;
  margin-right: auto;
  gap: 2px;
}

.infoSectionGeneral-button-chosenLoan {
  display: flex;
  flex-direction: column; 
  margin-left: auto;
  margin-right: auto;
  gap: 2px;
}

/* To x page button */
.buttonToNewPage {
    font-size: 14px;
    font-weight: 500;
    background: #adaaa1;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    
    gap: 6px;

    display: grid;
    grid-column: 12 / 14;
  }

.buttonToNewPage.row-1 { 
  grid-template-columns: 1fr; 
}

.buttonToNewPage.row-2 { 
  grid-template-columns: 1fr 1fr; 
}


/* New item classes*/
.pageNewItem {
  gap: 12px;
  min-height: 220px;
  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.cardNewItem {
  grid-column: 2/23;

  background: #97958f;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.cardNewItem > .inputFieldNewItem:first-child {
  margin-top: 1rem;
}

.inputFieldNewItem {
  grid-column: 10/18;
  margin-bottom: 1rem;
}

.inputFieldRowNewItem { 
  grid-column: 5/23;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 12px; 
}

.inputFieldRowNewItem .inputFieldNewItem{
  grid-column: auto;
}

/* Status Message info */

.status-msg {
  margin-top: 1rem;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 8px;
  display: none;
}